@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/cdd6oyg.css");

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* globals.css or styles.css */
.truncate-lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  background-color: #0b0c15;
  color: white;
  scroll-behavior: smo;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #dd88ff,
    #988bfa,
    #b1dfff,
    #f8d283,
    #f1c2ff,
    #c58ce6,
    #f1c2ff,
    #f8d283,
    #b1dfff,
    #988bfa,
    #dd88ff,
    #988bfa,
    #b1dfff,
    #f8d283,
    #f1c2ff,
    #dd88ff
  );
  background-size: 300% 300%;
  background-clip: text;
}
